* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #048343;
  font-family: Arial, Helvetica, sans-serif;
}

header#cabecalho-principal {
  background-color: #F0F0F0;
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#pontuacao-game {
  background-color: #61B1EA;
  border-radius: 30px;
  color: white;
  padding: 5px 50px;
  font-size: 20px;
  font-weight: 700;
  margin-left: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#pontuacao-game img {
  margin-right: 15px;
}

#nome-jogo {
  font-weight: bolder;
  font-size: 27px;
  margin-right: 20px;
  color: #213704;
}

#corpo {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}

#corpo #direita {
  width: auto;
}

#corpo #esquerda {
  color: white;
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
}

#corpo #esquerda h2 {
  font-size: 22px;
  margin-bottom: 5px;
}

#corpo #esquerda #cor-na-caixa {
  font-size: 24px;
  font-weight: bold;
}

#corpo #esquerda #cor-atual {
  margin-top: 10px;
  height: 200px;
  width: 200px;
  border: 10px solid #FFF;
  border-radius: 15px;
}

#corpo #esquerda #btn-responder {
  background-color: transparent;
  margin-top: 10px;
  border: 2px solid white;
  border-radius: 8px;
  font-size: 25px;
  font-weight: bold;
  color: white;
  padding: 15px 45px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#corpo #esquerda #btn-responder:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.status-msg {
  margin-top: 10px;
  font-size: 16px;
  min-height: 24px;
  font-weight: bold;
}

div#container footer#rodape {
  background-color: rgba(46, 10, 34, 0.26);
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}
